[flake8]
max-line-length = 88
extend-ignore = E203
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    *.pyc,
    *.egg-info,
    .eggs,
    venv,
    .env,
    node_modules,
    migrations
per-file-ignores =
    __init__.py:F401
