[flake8]
max-line-length = 88
extend-ignore = E203, W503
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    *.pyc,
    *.egg-info,
    .eggs,
    venv,
    .env,
    node_modules,
    migrations,
    .venv,
    .tox,
    .mypy_cache,
    .pytest_cache
per-file-ignores =
    __init__.py:F401,F403
    test_*.py:E501
    conftest.py:E402
