{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "useTabs": false,
  "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
  "tailwindConfig": "./tailwind.config.ts",
  "importOrder": [
    "^(react|react-dom)$",
    "^@radix-ui/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/components/(.*)$",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "quoteProps": "as-needed",
  "jsxBracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.{ts,tsx}",
      "options": {
        "parser": "typescript",
        "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
      }
    },
    {
      "files": "*.{js,jsx}",
      "options": {
        "parser": "babel",
        "importOrderParserPlugins": ["jsx", "decorators-legacy"]
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.{css,scss}",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always",
        "printWidth": 80
      }
    }
  ]
}